<?xml version="1.0" encoding="UTF-8"?>

<Values version="2.0">
  <record name="listeners" javaclass="com.wm.util.Values">
    <record name="FilePollingListener:C:\FileDropsTutorial\inbound" javaclass="com.wm.util.Values">
      <value name="port">C:\FileDropsTutorial\inbound</value>
      <value name="protocol">FilePolling</value>
      <value name="pkg">Sample_Tutorial</value>
      <value name="enabled">true</value>
      <value name="key">FilePollingListener:C:\FileDropsTutorial\inbound</value>
      <value name="portAlias">FilePooling</value>
      <value name="portDescription">Integration Server FilePolling port: 0</value>
      <value name="factoryKey">webMethods/FilePolling</value>
      <value name="configURL">/WmFlatFile/configFilePolling.dsp</value>
      <value name="provider">webMethods</value>
      <value name="monitorDir">C:\FileDropsTutorial\inbound</value>
      <value name="workDir">C:\FileDropsTutorial\working</value>
      <value name="completionDir">C:\FileDropsTutorial\completed</value>
      <value name="errorDir">C:\FileDropsTutorial\errors</value>
      <value name="defaultContentType">xml/plain</value>
      <value name="recursive">no</value>
      <value name="clusterEnabled">no</value>
      <value name="cleanupAtStartup">yes</value>
      <value name="runUser">Administrator</value>
      <value name="processingService">Sample_Tutorial.FileDrop.service:FilePooling</value>
      <value name="filePollingInterval">5</value>
      <value name="logMinMessage">no</value>
      <value name="NFSDirectories">no</value>
      <value name="cleanUpFileAge">7</value>
      <value name="cleanUpInterval">24</value>
      <value name="maxThreads">5</value>
      <value name="maxFilesPerCycle">-1</value>
      <value name="lockFileExtension">.lock</value>
    </record>
  </record>
  <record name="access" javaclass="com.wm.util.Values">
    <record name="FilePollingListener:C:\FileDropsTutorial\inbound" javaclass="com.wm.util.Values">
      <null name="home"/>
      <value name="default">include</value>
      <record name="nodes" javaclass="com.wm.util.StringSet">
        <list name="elements">
        </list>
      </record>
      <value name="key">FilePollingListener:C:\FileDropsTutorial\inbound</value>
    </record>
  </record>
</Values>
